/* import fontawesome &  material icons*/

@import '../fontawesome/css/fontawesome.min.css';
@import '../fontawesome/css/regular.min.css';
@import '../fontawesome/css/solid.min.css';
@import '../material_icons/css.css';





/* common styles */

* {
				box-sizing: border-box;
}


body {
				margin: 0;
				background-color: #FFFFFF;
				padding-top: 30px;
				padding-bottom: 40px;
				padding-right:20px;
        padding-left:20px;
}


body,
textarea,
input,
select,
.senden {
				font-family: Arial, sans-serif;
}


.kontaktformular {
				width: 715px;
				max-width: 100%;
				padding: 1.8rem;			
				margin:auto;
				padding-top: 19px;
				padding-bottom: 1px;
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
}





/* style common rows/grid */

.kontaktformular .row {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				margin-bottom: 1.6rem;
				width: 100%;
}


.kontaktformular .row .col-sm-4 {
				flex-grow:1;
				flex-basis: 0;
				margin: 0 .95rem;
				position: relative;
}


.kontaktformular .row .col-sm-4:first-child {
	margin-left: 0;
}


.kontaktformular .row .col-sm-4:last-child {
	margin-right: 0;
}


.kontaktformular .row .col-sm-8 {
				width: 100%;
				position: relative;
}


.kontaktformular .row ::placeholder{
				color: #999;
				opacity: 0.7;
				}





/* style control-label for chrome, firefox, edge & safari (Use the addon 'body.safari' for styling in safari) */

.kontaktformular .row .control-label {
				position: absolute;
				margin-top: 0.12rem;  height: 91.1%;
				padding: .93rem 1rem .25rem 1rem;
				color: grey;
				opacity: 0.7;
				width: 3rem;
				z-index: 2;
}


body.safari .kontaktformular .row .control-label{
     margin-top: 0.10rem; 
}


.kontaktformular .row .error .control-label{
				color: #db0007;
				border-color: #db0007;
				margin-top: 0.12rem;
				height: 65.1%;
				padding: .93rem 1rem .25rem 1rem;		
}


body.safari .kontaktformular .row .error .control-label{
     margin-top: 0.10rem; 
}





/* style select-label for chrome, firefox, edge & safari (Use the addon 'body.safari' for styling in safari) */

.kontaktformular .row .select-label{
        margin-top: 0.02rem; 
				height: 90.9%;
				padding: .93rem 1rem .25rem 1rem;
				
}


body.safari .kontaktformular .row .select-label{
     margin-top: 0.15rem; 
}


.kontaktformular .row .error .select-label{
        margin-top: 0.02rem; 
				height: 66%;
				padding: .93rem 1rem .25rem 1rem; 
			  color: #db0007;
				border-color: #db0007;    
}


body.safari .kontaktformular .row .error .select-label{
     margin-top: 0.15rem; 
}





/* style textarea-label for chrome, firefox, edge & safari (Use the addon 'body.safari' for styling in safari) */

.kontaktformular .row .textarea-label{
				 margin-top:0.25rem;
				height: 97.1%;
				padding: .93rem 1rem .25rem 1rem; 									
}


body.safari .kontaktformular .row .textarea-label{
     margin-top: 0.20rem; 
}


.kontaktformular .row .error .textarea-label{
			color: #db0007;
			border-color: #db0007;
      height: 84.6%;		
       margin-top:0.25rem;
       padding: .93rem 1rem .25rem 1rem; 
}


body.safari .kontaktformular .row .error .textarea-label{
     margin-top: 0.20rem; 
}





/* style inactive / focus / active icons (Use the addon 'body.safari' for styling in safari) */

/* style inactive icons */

.kontaktformular .row .control-label i{
	color: #b0b0b0;
}

body.safari .kontaktformular .row .control-label i{
	color: #b0b0b0 !important;
}


/* style focus icons */

.kontaktformular .row .active-field .control-label i{
	color: #0952C8;
}

body.safari .kontaktformular .row .active-field .control-label i{
	color: #0952C8 !important;
}


/* style active icons */

.kontaktformular .row .not-empty-field .control-label i{
	color: #424242;
}

body.safari .kontaktformular .row .not-empty-field .control-label i{
	color: #424242 !important;
}





/* style icons for chrome, firefox, edge & safari (Use the addon 'body.safari' for styling in safari) */

#briefcase-icon{
     padding-left: 1px; 
     font-size:18px;
}

body.safari #briefcase-icon{
     padding-left: 1.5px; 
     padding-top: 1.0px;
}


#caret-down-icon{
     padding-left: 3px;
     padding-top: 1.5px; 
     font-size:18px;
}

body.safari #caret-down-icon{
     padding-left: 3.5px;  
     padding-top: 0px;
}


#user-icon{
     padding-left: 1.5px;  
     font-size:18px;
}

body.safari #user-icon{
     padding-left: 2.0px; 
     padding-top: 0px;
}


#email-icon{
     padding-left: 0.5px; 
     font-size:18px;
}

body.safari #email-icon{
     padding-left: 1.0px; 
     padding-top: 1.0px;
}


#phone-icon{
     padding-left: 0px; 
     font-size:18px;
}

body.safari #phone-icon{
     padding-left: 0.5px; 
}


#home-icon{
     padding-left: 0px; 
     font-size:18px;
}

body.safari #home-icon{
     padding-left: 0.5px; 
}


#subject-icon{
margin-top:-1px;
     padding-left: 1.0px; 
     font-size:18px;
}

body.safari #subject-icon{
     padding-left: 1.5px; 
     margin-top:-0.5px;
}


/* #message-icon{                 NOTE: use material_icons/css.css to style message-icon   
     padding-left: 0px; 
     font-size:18px;
} */

/* body.safari #message-icon{     NOTE: use material_icons/css.css to style message-icon
     padding-left: 0.5px; 
} */


#fileupload-icon{
     font-size:18px;
}

body.safari #fileupload-icon{
     padding-top: 0px; 
}


#mailcopy-icon{
     padding-top: 3px; 
     font-size:18px;
}

body.safari #mailcopy-icon{
     padding-top: 2px; 
}


#dataprotection-icon{
     padding-top: 3px; 
     font-size:18px;
}

body.safari #dataprotection-icon{
     padding-top: 2px; 
}


#securitycode-icon{
     padding-top: 74px; 
     font-size:18px;
}

body.safari #securitycode-icon{
     padding-top: 72px; 
}


#securityquestion-icon{
     padding-top: 49px; 
     font-size:18px;
}

body.safari #securityquestion-icon{
     padding-top: 47px;
}





/* style common fields */

.kontaktformular .row input,
.kontaktformular .row textarea {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
}


.kontaktformular .row textarea {
				 height: 1.7rem;			
}


.kontaktformular .row .field {
				display: block;	
				font-size: 18px;
				width: 100%;
				padding: .94rem .8rem .85rem 3.5rem;
				color: #555;
				border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc; 
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
}


.kontaktformular .row .field:focus,
.kontaktformular .row input:focus {
				border-color: #0D6EFD !important;
				outline: 0 !important;
				border: 1px solid;

}


.kontaktformular .row input[type="checkbox"]:focus {
				border-color: #0D6EFD !important;
				outline: 0 !important;
				border: 1px solid;			
				
}





/* style rows with complex contents  */

.kontaktformular .captcha-row,
.kontaktformular .question-row,
.kontaktformular .checkbox-row,
.kontaktformular .upload-row {
				display: block;
				font-size: 17px;
				width: 100%;
				color: #555555;
				border: 1px solid #ccc;
				border-radius: 5px;
				transition: border-color ease-in-out .15s;
				padding-right: 1rem;				
}


.kontaktformular .captcha-row .control-label,
.kontaktformular .question-row .control-label,
.kontaktformular .upload-row .control-label,
.kontaktformular .checkbox-row .control-label{
				height: 100%;
				margin-top: 0; 
}


.kontaktformular .captcha-row > div,
.kontaktformular .question-row > div,
.kontaktformular .checkbox-row > div{
				padding-bottom: .15rem;
}


.kontaktformular .captcha-row div div,
.kontaktformular .question-row div div{
				width: 100%;
				padding: .75rem 0 .75rem 60px;
}





/* style upload-fields  */

.kontaktformular .row input[type="file"] {
				width: calc(100% - 60px);
				height: 30px;
				margin: .2rem 0 .2rem 60px;
}


.kontaktformular .row .control-label + input[type="file"] {
				margin-top: .75rem;
}


.kontaktformular .row input[type="file"]:last-child {
				margin-bottom: .25rem;
}





/* style security-fields  */

.kontaktformular .captcha-row .field,
.kontaktformular .question-row .field{
				width: calc(100% - 60px);
				margin: .2rem 0 .2rem 60px;
				padding-left: .8rem;
}


.kontaktformular .row#answer .control-label {
				align-self: flex-start;
}





/* style checkbox-row  */

.kontaktformular .checkbox-row .checkbox-inline{
				display: block;
				padding: .7rem 0 .31rem 60px;
}


.kontaktformular .checkbox-row .checkbox-inline a:hover,
.kontaktformular .checkbox-row .checkbox-inline a:focus {
				color: #0025e2;
				text-decoration: underline;
}


.kontaktformular .checkbox-row .checkbox-inline a,
.kontaktformular .checkbox-row .checkbox-inline span {
				color: #0020c1;
				text-decoration: none;
				line-height: 24px;
				padding-left: 10px;				
}


.kontaktformular .checkbox-row .checkbox-inline span{
				color: inherit;
}


.kontaktformular .row input[type="checkbox"] {
				height: 25px;
				width: 25px;
				border: 1px solid #CCC;
				border-radius: 5px;
				transition: border-color ease-in-out .15s;	
				display: block;
				float: left;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				cursor: pointer;
				margin-left: 0;
				  -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc; 	
}


.kontaktformular .row input:checked {
				background: url(../img/check-solid.svg) no-repeat center center;
				background-size: 75%;
}





/* style submit-button (Use the addon 'body.safari' for styling in safari)  */

.kontaktformular .row .senden {
        font-family: Arial, sans-serif;
        letter-spacing: 0.3px;
        display: flex;
        justify-content: center; 
        align-items: center;
				width: 100%;
				font-size: 19.5px;
				height: 3.25rem;
				margin-top: calc(1rem/16*5);
				color: white;
				background-color: #0D6EFD;
				transition: background 0.3s ease;
				border: none;
				border-radius: 5px;
}


body.safari .kontaktformular .row .senden {
        padding-top: 3px;
}


.kontaktformular .row .senden:hover {
				background-color: #025ce3;
				cursor: pointer;
}





/* style select-box for placeholders */

.kontaktformular .row select {
                background-color: #fff;                
}
		
				
.kontaktformular .row select.unselected{
	color: #999;
  opacity: 0.7;
	border-radius: 5px;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-top: 1px solid #b0b0b0;
  border-left: 1px solid #b0b0b0;
  border-right: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0; 
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;			
}


.kontaktformular .row select.field{
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	z-index: 1;
}


.kontaktformular .row select.field option[value=""][disabled] {
				display: none;
}


.kontaktformular .row select.field option {
				color: #555555;
}


.kontaktformular .row select.field option[value=""] {
				color: rgba(0,0,0,0.4);
}





/* style invalid / focus / valid fields */

.kontaktformular .row .error .field,
.kontaktformular .row .error .checkbox-inline input,
.kontaktformular.kontaktformular-validate .row .field:invalid,
.kontaktformular.kontaktformular-validate .row .checkbox-inline input:invalid{	
				background-color: #ffeaec;
				border-color: #eac0c5;
}


.kontaktformular .row .field:invalid,
.kontaktformular .row .checkbox-inline input:invalid{		
				outline: none;
				box-shadow:none;
}


.kontaktformular .row .field:focus:valid,
.kontaktformular .row .checkbox-inline input:focus:valid{
				background-color: #FFFFFF;
				border-color: #d9e8d5;
				outline: none;
				box-shadow:none;
}


.kontaktformular .row .error ::placeholder{
				color: rgba(219, 0, 7, 0.6);
}


.kontaktformular .row .error select.unselected
{
				color: rgba(219, 0, 7, 0.4);
}





/* style (regular) error messages */

.kontaktformular .row .errormsg{
				color: #db0007;
				font-size: 16px;			
}


.kontaktformular .row .errormsg-spamprotection{
				font-size: 17px;
				line-height:1.5;
				color: #db0007; /* Textfarbe */
        text-align: center; /* Textausrichtung zentriert */
        border: 1px solid #db0007; /* Rand des Kästchens */
        padding: 15px; /* Innenabstand des Kästchens */
        width: 100%; /* Breite des Kästchens */
 
}


.kontaktformular .row .errormsg-emailerror{
				font-size: 17px;
				color: #db0007; /* Textfarbe */
        text-align: center; /* Textausrichtung zentriert */
        border: 1px solid #db0007; /* Rand des Kästchens */
        padding: 15px; /* Innenabstand des Kästchens */
        width: 100%; /* Breite des Kästchens */
 
}


.kontaktformular .row .errormsg-upload{
				font-size: 17px;
				line-height:1.5;
				color: #db0007; /* Textfarbe */
        text-align: center; /* Textausrichtung zentriert */
        border: 1px solid #db0007; /* Rand des Kästchens */
        padding: 15px; /* Innenabstand des Kästchens */
        width: 100%; /* Breite des Kästchens */

}



.kontaktformular .captcha-row.error_container,
.kontaktformular .question-row.error_container,
.kontaktformular .checkbox-row.error_container{
	margin-bottom: 2.7rem;									
}


.kontaktformular .captcha-row .errormsg,
.kontaktformular .question-row .errormsg{
					display: block;
				position: absolute;
				left: 0;
				bottom: -46px;
				height: 40px;
}


.kontaktformular .checkbox-row .errormsg{
				display: block;
				position: absolute;
				left: 0;
				bottom: -46px;
				height: 40px;
}


.kontaktformular .captcha-row.error_container .control-label,
.kontaktformular .question-row.error_container .control-label,
.kontaktformular .upload-row.error_container .control-label,
.kontaktformular .checkbox-row.error_container .control-label{
				height: 100%;
				margin-top: 0; 
}





/* style loading spinner & success message (Use the addon 'body.safari' for styling in safari) */

button {
	outline: 0;
}


.kontaktformular .row .senden.loading .label{
	font-size: 19.5px;
	display: flex;
  align-items: center;
  justify-content: center;
}


.kontaktformular .row .senden.loading .label_failed{
	font-size: 19.5px;
	display: flex;
  align-items: center;
  justify-content: center;
}


.kontaktformular .row .senden.finished{
		display: flex;
    justify-content: center; 
    align-items: center;
	  font-size: 19.5px;
		height: 3.25rem;
		margin-top: calc(1rem/16*5);
		color: white;
		background-color: #28a745 !important;
		border: none;
		border-radius: 5px;
    pointer-events: none; 
    cursor: not-allowed;
}


.successfully_sent{
font-weight:bold;
font-size:19px;
vertical-align: middle;
}


.error_in_email_sending{
font-weight:bold;
font-size:17px;
vertical-align: middle;
}


.kontaktformular .row .senden.failed{
		display: flex;
    justify-content: center; 
    align-items: center;
	  font-size: 19.5px;
		height: 3.25rem;
		margin-top: calc(1rem/16*5);
		color: white;
		border: none;
		border-radius: 5px;
}


@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


.loading-spinner{
	display: none;
	width: 24px;
	animation: spin 1s linear infinite;	
	
}


.loading-spinner:active{
	display: flex;
  justify-content: center; 
  align-items: center;
	width: 24px;
	animation: spin 1s linear infinite;	
	
}


.loading-spinner_failed{
	display: none;
	width: 24px;
	animation: spin 1s linear infinite;	
	
}


.loading-spinner_failed:active{
	display: flex;
  justify-content: center; 
  align-items: center;
	width: 24px;
	animation: spin 1s linear infinite;	
	
}


.senden.loading .loading-spinner{
	display: flex;
  justify-content: center; 
  align-items: center;
  
}


body.safari .senden.loading .loading-spinner{
	display: flex;
  justify-content: center; 
  align-items: center;
 
}


.senden.loading .loading-spinner_failed{
	display: flex;
  justify-content: center; 
  align-items: center;
  
}


body.safari .senden.loading .loading-spinner_failed{
	display: flex;
  justify-content: center; 
  align-items: center;
  
}


.senden .check{
	display: none;
}


.senden .failed{
	display: none;
}


.senden.finished .check{
	display: inline-block;
	animation: scale 0.5s linear;
}


.kontaktformular #submitMessage.failed {
  padding-left:7px;
  padding-right:7px;
  color: #db0007; /* Grüne Textfarbe */
  text-align: center; /* Textausrichtung zentriert */
  border: 2px solid #db0007; /* Grüner Rand des Kästchens */
  width: 100%; /* Breite des Kästchens */
  line-height: 1.5; /* Zeilenhöhe */
  margin-bottom: 40px; /* Abstand nach unten */
  padding: 15px;
}


.kontaktformular #submitMessage.finished {  
  padding-left:7px;
  padding-right:7px;
  color: #28a745; /* Grüne Textfarbe */
  text-align: center; /* Textausrichtung zentriert */
  border: 2px solid #28a745; /* Grüner Rand des Kästchens */
  width: 100%; /* Breite des Kästchens */
  line-height: 1.3; /* Zeilenhöhe */
  margin-bottom: 40px; /* Abstand nach unten */
  padding: 15px;
}


.kontaktformular .row .senden.loading{
	background-color: #A6A6A6;
	border-color: #A6A6A6;
}


.kontaktformular .row .senden.failed .failed{
	display: inline-block;
	animation: scale 0.5s linear;
}


#submitMessage.loading{
	text-align: center;
	color: transparent;
	opacity: 0;
}


.senden.finished .check i{
	transform-origin: center center;
}


.opacity-25{
	opacity: .25;
}


.opacity-75{
	opacity: .75;
}
























/* style for mobile */

@media (max-width: 600px) {
	

body {
				padding-top: 20px;
				padding-bottom: 40px;
				padding-right:0px;
        padding-left:0px;
}




	
/* common styles for mobile */
				
.kontaktformular {
								padding: 3.25px 1.5rem 1px 1.5rem;
								/* box-shadow: none; */
								margin-left:17px;
								margin-top:5px;
								margin-right:17px;
								width: auto;
				}
			
			
			
	
				
/* style common fields for mobile */

.kontaktformular .row .field {
				padding: .75rem .8rem .66rem 3.5rem;
}

				
.kontaktformular .row {
								display: block;
								margin-top: 1rem;
				}
				
				
.kontaktformular .row .col-sm-4{
								flex-grow:0;
								flex-basis: 0;
								margin: 0;
				}
				
				
.kontaktformular .row .col-sm-4,
.kontaktformular .row .col-sm-8 {
								margin-top: 1.5rem;
				}
				
				
.kontaktformular .captcha-row .col-sm-8,
.kontaktformular .question-row .col-sm-8,
.kontaktformular .upload-row .col-sm-8,
.kontaktformular .checkbox-row .col-sm-8{
								margin-top: 0;
				}
				




/* style rows with complex contents for mobile  */

.kontaktformular .captcha-row div div,
.kontaktformular .question-row div div{
				width: 100%;	
				
}





/* style security-fields for mobile  */

.kontaktformular .captcha-row .field,
.kontaktformular .question-row .field{
				padding-left: .8rem;
}





/* style control-label for chrome, firefox, edge & safari for mobile (Use the addon 'body.safari' for styling in safari) */
				
.kontaktformular .row .control-label {
				margin-top: -0.09rem; }
				
				
body.safari .kontaktformular .row .control-label{
     margin-top: -0.30rem; 
}
				
				
.kontaktformular .row .error .control-label{
				margin-top: -0.09rem; }
				
				
body.safari .kontaktformular .row .error .control-label{
     margin-top: -0.30rem; 
}
				
				
.kontaktformular .row .textarea-label{
				 margin-top:0.21rem; }
				 
				 
.kontaktformular .row .error .textarea-label{
				 margin-top:0.21rem; }
				 
				 
.kontaktformular .row .select-label{
     margin-top: 0.00rem; 
}		


body.safari .kontaktformular .row .select-label{
     margin-top: 0.05rem; 
}	


.kontaktformular .row .error .select-label{
     margin-top: 0.00rem; 
}				 	


body.safari .kontaktformular .row .error .select-label{
     margin-top: 0.05rem; 
}





/* style loading spinner & success message for mobile */

.loading-spinner{
	display: none;
	width: 24px;
	animation: spin 1s linear infinite;	
	
}


.loading-spinner:active{
	display: flex;
  justify-content: center; 
  align-items: center;
	width: 24px;
	animation: spin 1s linear infinite;	
	
}


.loading-spinner_failed{
	display: none;
	width: 24px;
	animation: spin 1s linear infinite;	
	
}


.loading-spinner_failed:active{
	display: flex;
  justify-content: center; 
  align-items: center;
	width: 24px;
	animation: spin 1s linear infinite;	
	
}


.kontaktformular .row .senden.loading .label{
	font-size: 19.5px;
	display: flex;
  align-items: center;
  justify-content: center;
}


.kontaktformular .row .senden.loading .label_failed{
	font-size: 19.5px;
	display: flex;
  align-items: center;
  justify-content: center;
}


.kontaktformular .row .senden {
        display: flex;
        justify-content: center; 
        align-items: center;
				width: 100%;
				font-size: 18.5px;
        height: 2.90rem;
				margin-top: calc(1rem/16*5);
				color: white;
				background-color: #0D6EFD;
				transition: background 0.3s ease;
				border: none;
				border-radius: 5px;
}


.kontaktformular .row .senden:hover {
				background-color: #025ce3;
				cursor: pointer;
}


.kontaktformular .row .senden.finished{
	  display: flex;
    justify-content: center; 
    align-items: center;
	  font-size: 18.5px;
    height: 2.90rem;
		margin-top: calc(1rem/16*5);
		color: white;
		background-color: #28a745 !important;
		border: none;
		border-radius: 5px;
    pointer-events: none; 
    cursor: not-allowed;
}


.kontaktformular .row .senden.failed{
		display: flex;
    justify-content: center; 
    align-items: center;
	  font-size: 18.5px;
    height: 2.90rem;
		margin-top: calc(1rem/16*5);
		color: white;
		border: none;
		border-radius: 5px;
}





/* style icons for chrome, firefox, edge & safari for mobile (Use the addon 'body.safari' for styling in safari) */

#briefcase-icon{
     padding-top: 0px; 
}

body.safari #briefcase-icon{
     padding-top: 3px;  
}


#caret-down-icon{
     margin-top: -4px; 
}

body.safari #caret-down-icon{
     padding-left: 3.5px;  
     padding-top: 0px;
}


#user-icon{
     padding-top: 0px;
}

body.safari #user-icon{
     padding-top: 3px;
}


#phone-icon{
     margin-top: -0.5px; 
}

body.safari #phone-icon{ 
     padding-top: 3px; 
}


#email-icon{
     margin-top: -0.25px; 
}

body.safari #email-icon{
     padding-left: 1.0px; 
     padding-top: 3.5px;  
}


#subject-icon{
margin-top:-3px;
}

body.safari #subject-icon{
     padding-top:3px;
}


body.safari #mailcopy-icon{
     padding-top: 1px; 
}


body.safari #dataprotection-icon{
     padding-top: 8px; 
}


#mailcopy-icon{
     padding-top: 5px; 
}

body.safari #mailcopy-icon{
     padding-top: 8px; 
}


#dataprotection-icon{
     padding-top: 4px; 
}

body.safari #dataprotection-icon{
     margin-top: -1px; 
}


#fileupload-icon{
     padding-top: 0px; 
}

body.safari #fileupload-icon{
     padding-top: 3px; 
}


#securitycode-icon{
     padding-top: 72px; 
}

body.safari #securitycode-icon{
     padding-top: 71px; 
}


#securityquestion-icon{
     padding-top: 47.5px; 
}

body.safari #securityquestion-icon{
     padding-top: 46px; 
}







}
