///* Color Scheme
//------------------------
//#005088 dark blue
//#3AAA35 green
//#009FE3 blue
//#FCFAFA white
//#C8D3D5 grey   
//
//#4BB3FD light blue
//#3E6680 grey blue
//
//#B1740F brown
//#FFD07B light yellow (beige)
//
//#385F71 grey blue
//#F5F0F6 light grey  
//
//#0B3954 dark blue
//#BFD7EA really light blue





$color-primary: #4BB3FD;
$color-primary-light: #64c6f3;
$color-primary-dark: #1b7cc2ea;

$color-secondary: #005088;
$color-secondary-light: #3299e2;
$color-secondary-dark: #003052;


$color-dark: #0B3954;
$color-light: #F5F0F6;

$color-success: #5cb85c;
$color-error: #d9534f;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark1: #333;
$color-grey-dark2: #777;
$color-grey-dark3: #999;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
