@charset "UTF-8";
/*
0 - 600px:		Phone
600 - 900px:	Tablet portrait
900 - 1200px:	Tablet landscape
[1200 - 1800] is where normale styles apply
1800px + :		Big desktop

$breakpoint argument choices::after
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px

*/
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes buttonRing {
  40% {
    transform: rotate(5deg);
    transform: translatey(-5%);
  }
  60% {
    transform: rotate(-5deg);
    transform: translatey(-20%);
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(5deg);
    transform: translatey(-15%);
  }
  100% {
    transform: rotate(-5deg);
    transform: translatey(0);
    transform: rotate(5deg);
  }
}
@keyframes slider-slide {
  0%, 16%, 100% {
    transform: translateX(0);
    animation-timing-function: ease;
  }
  20% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  96% {
    transform: translateX(100%);
    animation-timing-function: ease;
  }
}
@keyframes slider-fade {
  0%, 18%, 100% {
    opacity: 1;
    animation-timing-function: ease;
    z-index: 0;
  }
  20% {
    opacity: 0;
    animation-timing-function: step-end;
    z-index: 0;
  }
  98% {
    opacity: 1;
    animation-timing-function: step-end;
    z-index: -1;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  9% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  13% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 1 rem = 10px, 10/16 = 62.5 */
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 25em) {
  html {
    font-size: 45%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}

body {
  font-family: "Exo 2", Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}

img {
  width: 100%;
}

.heading-secondary {
  margin-top: 10rem;
  margin-bottom: 10rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #005088, rgba(27, 124, 194, 0.9176470588));
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
.heading-secondary:hover {
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.container-big {
  max-width: 120rem;
  margin: 0 auto;
  overflow: hidden; /* Fixed die Lücke über der NavBar, verursacht durch die margin des h1, h2 */
  padding: 0 1rem;
  overflow: visible;
}

.container {
  max-width: 118rem;
  margin: 0 auto;
  overflow: hidden; /* Fixed die Lücke über der NavBar, verursacht durch die margin des h1, h2 */
  padding: 0 1rem;
  overflow: visible;
}

.card {
  background-color: #faf9f9;
  border-radius: 1rem;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 1rem;
}

.bg-primary,
.btn-primary {
  background-color: #4BB3FD;
  color: #fff;
}

.bg-secondary,
.btn-secondary {
  background-color: #005088;
  color: #fff;
}

.bg-secondary-dark,
.btn-secondary-dark {
  background-color: #003052;
  color: #fff;
}

.bg-secondary-light,
.btn-secondary-light {
  background-color: #3299e2;
  color: #fff;
}

.lead {
  font-size: 2rem;
}

.sm {
  font-size: 1.6rem;
}

.md {
  font-size: 3.2rem;
}

.lg {
  font-size: 4.8rem;
}

.xl {
  font-size: 6.4rem;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  visibility: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-6 {
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  gap: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  cursor: pointer;
  background-color: #4BB3FD;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.btn-outline {
  background-color: transparent;
  border: 1px #fff solid;
}
.btn:hover {
  transform: scale(0.98);
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .popup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100rem;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.5s 0.2s;
}
.popup__left {
  width: 33.333333%;
  display: table-cell;
}
.popup__right {
  width: 66.6666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 2rem 4rem;
}
.popup__img {
  display: block;
  width: 100%;
}
.popup__heading {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  justify-content: left;
  background-image: linear-gradient(to right, #005088, rgba(27, 124, 194, 0.9176470588));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
.popup__heading:hover {
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.popup-kontakt {
  display: flex;
  justify-content: space-between;
  width: 60rem;
  z-index: 50;
}
.popup-kontakt p {
  text-align: center;
  font-weight: 500;
  font-size: larger;
}
.popup-kontakt__button {
  background-color: rgba(27, 124, 194, 0.7);
  height: 10rem;
  max-width: 16rem;
  margin: 1rem 0;
  border-radius: 0.8rem;
  padding: 0 2rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  animation: buttonRing 1s ease-in-out;
  animation-delay: 2s;
}
.popup-kontakt__button a {
  color: #fff;
  text-align: center;
}
.popup-kontakt-phone__icon, .popup-kontakt-home__icon, .popup-kontakt-form__icon {
  height: 10rem;
  width: 10rem;
  align-self: center;
  fill: #fff;
  animation: buttonRing 1s ease-in-out;
  animation-delay: 2s;
}
.popup__description {
  display: flex;
  justify-content: space-between;
  width: 60rem;
  z-index: 50;
}
.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  align-self: center;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid #f4f2f2;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #f4f2f2;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.popup__table caption {
  text-align: left;
  font-size: 1.5em;
  padding-bottom: 1rem;
  margin-top: 2rem;
  width: 10em;
}
.popup__table-cell {
  padding-left: 5rem;
  line-height: 2em;
  overflow: hidden;
  vertical-align: top;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup__close:link, .popup__close:visited {
  color: #333;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 5em;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
}
.popup__close:hover {
  color: #4BB3FD;
}

.introduction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
}
.introduction-text {
  max-width: 55rem;
  padding-top: 4rem;
}
.introduction-bild {
  max-width: 55rem;
  padding-top: 4rem;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
}

.navigation {
  max-width: 100%;
  background: white;
}
.navigation__checkbox {
  display: none;
}

.header {
  max-width: 100%;
  height: 9.4rem;
  background-color: #fff;
  box-shadow: 0px 2px 10px 1px rgba(119, 119, 119, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  margin: 0 auto;
}

.navbar {
  pointer-events: none;
}
.navbar-container {
  display: flex;
  padding-top: 0.8rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 120rem;
  margin: 0 auto;
}
.navbar-container .shade {
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background-color: orangered;
  flex: 1 1 100%;
  min-height: 20rem;
  max-width: 100rem;
  z-index: 112;
}
@media (max-width: 56.25em) {
  .navbar-container .shade {
    display: none;
  }
}

.navigation {
  justify-content: space-between; /*Sorgt dafür das Logo links und Navigation rechts ist*/
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  background-color: #fff;
}
@media (max-width: 56.25em) {
  .navigation {
    background-color: transparent;
  }
}
.navigation__nav {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
}
.navigation__list {
  display: flex;
  justify-content: space-around;
  z-index: 200;
}
.navigation__link {
  color: #333;
}
.navigation__kontakt {
  background-color: #4BB3FD;
  display: flex;
  align-self: center;
  align-items: center;
  padding: 0.6rem 0.1rem;
  line-height: 2rem;
  pointer-events: auto;
}
.navigation__item {
  /* background-color: gold; */
  align-items: center;
  align-self: center;
  justify-content: space-around;
  margin: 2rem 1.5rem;
  padding: 0.6rem 0.1rem;
  z-index: 200;
  pointer-events: auto;
}
.navigation__item:hover, .navigation__item:active {
  transition: transform 0.5s ease-in-out;
  transform: scale(1.1);
  border-bottom: 2px #333 solid;
}
.navigation__item a {
  color: #333;
}

.top-logo-style {
  background-color: #fff;
  border-radius: 0.5rem;
  margin: 0 1rem;
  z-index: 9000;
}
.top-logo-style img {
  width: 100%;
  height: 8rem;
  pointer-events: auto;
}

.navbar .active {
  height: 8rem;
}
@media (max-width: 56.25em) {
  .navbar .active {
    background: none;
    pointer-events: none;
  }
}
@media (max-width: 25em) {
  .navbar .active {
    background: none;
    pointer-events: none;
  }
}
.navbar .active .shade {
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}
.navbar .active img {
  width: 100%;
  height: 7.5rem;
  pointer-events: auto;
}

@media (max-width: 56.25em) {
  .navigation__checkbox {
    display: none;
  }
  .navigation__button {
    background-color: #4BB3FD;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 3rem;
    right: 3rem;
    border-radius: 0.8rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    pointer-events: auto;
  }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 0.8rem;
    position: fixed;
    top: 3.5rem;
    right: 3.5rem;
    background-image: radial-gradient(#64c6f3, rgba(27, 124, 194, 0.9176470588));
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    visibility: hidden;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    display: flex;
  }
  .navigation__list {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
    pointer-events: auto;
  }
  .navigation__item {
    margin: 3rem 8rem;
    background-color: #4BB3FD;
  }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all 0.4s;
  }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block;
  }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #4BB3FD;
    transform: translateX(1rem);
  }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80);
  }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
    visibility: visible;
  }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem;
  }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #f4f2f2;
    display: inline-block;
  }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }
  .navigation__icon::before {
    top: -0.8rem;
  }
  .navigation__icon::after {
    top: 0.8rem;
  }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem;
  }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem;
  }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
  }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
/* Footer */
.footer {
  background-color: rgba(27, 124, 194, 0.9176470588);
  color: #fff;
  height: 10rem;
  padding: 2rem;
}
.footer_tele, .footer_mobil, .footer_email {
  color: white;
  padding-left: 1rem;
}
.footer address {
  font-size: small;
  gap: 10rem;
}
.footer .flex {
  justify-content: space-between; /*Sorgt dafür das Logo links und Navigation rechts ist*/
}
.footer ul {
  display: flex;
}
.footer ul a {
  color: #fff;
  margin: 1rem 2rem;
}
.footer ul a:hover {
  border-bottom: 2px #fff solid;
}

.sticky-contact {
  position: fixed;
  display: none;
  right: 3rem;
  top: 50%;
  z-index: 200;
  align-content: center;
  animation: slideInFromRight 1.5s ease-in;
  border-radius: 20%;
}
@media (min-width: 112.5em) {
  .sticky-contact {
    right: 18rem;
    display: none;
  }
}
@media (max-width: 56.25em) {
  .sticky-contact {
    display: flex;
    right: 3rem;
    top: 80%;
  }
}
@media (max-width: 25em) {
  .sticky-contact {
    display: flex;
    right: 3rem;
    top: 80%;
  }
}
.sticky-contact-Btn {
  display: flex;
  justify-content: center;
  background: green;
  background-color: green;
  width: 8rem;
  height: 8rem;
  color: white;
  border: none;
  border-radius: 50%;
  z-index: 1;
  border-radius: 20%;
  cursor: pointer;
  transition: all 0.35s ease-in;
  box-shadow: 0 0 0 0 rgba(0, 128, 0, 0.5);
  animation: pulse 10.5s infinite;
}
.sticky-contact-Btn:hover {
  animation: none;
}
.sticky-contact-Btn:after {
  content: "";
  height: 3.5rem;
  width: 3.5rem;
  align-self: center;
  background-color: #faf9f9;
  -webkit-mask-image: url(./../img/phone.svg);
  -webkit-mask-size: cover;
  mask-image: url(./../img/phone.svg);
  mask-size: cover;
}
.sticky-contact .postToggle {
  display: none;
}
.sticky-contact .sticky-contact-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: relative;
}
.sticky-contact .sticky-contact-list__item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-indent: 10px;
  text-align: center;
  height: 7rem;
  width: 7rem;
  background: rgba(27, 124, 194, 0.9176470588);
  border-radius: 20%;
  opacity: 0;
  border: 1px solid white;
  transition: transform 0.3s cubic-bezier(0.48, 0.13, 0.42, 1.45), opacity 0.2s ease-in;
}
.sticky-contact .sticky-contact-list__item:nth-child(2) {
  transition-delay: 0.025s;
}
.sticky-contact .sticky-contact-list__item:nth-child(3) {
  transition-delay: 0.05s;
}
.sticky-contact .sticky-contact-list__item:nth-child(4) {
  transition-delay: 0.075s;
}
.sticky-contact .sticky-contact-list__item:nth-child(5) {
  transition-delay: 0.1s;
}
.sticky-contact .sticky-contact-list__item a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.sticky-contact .landline::before {
  content: "";
  height: 5rem;
  width: 5rem;
  background-color: #faf9f9;
  -webkit-mask-image: url(./../img/deskphone_100.svg);
  -webkit-mask-size: cover;
  mask-image: url(./../img/deskphone_100.svg);
  mask-size: cover;
}
.sticky-contact .mobile::before {
  content: "";
  height: 5rem;
  width: 5rem;
  background-color: #faf9f9;
  -webkit-mask-image: url(./../img/phone_mob_100.svg);
  -webkit-mask-size: cover;
  mask-image: url(./../img/phone_mob_100.svg);
  mask-size: cover;
}
.sticky-contact .mail::before {
  content: "";
  height: 5rem;
  width: 5rem;
  background-color: #faf9f9;
  -webkit-mask-image: url(./../img/mail_100.svg);
  -webkit-mask-size: cover;
  mask-image: url(./../img/mail_100.svg);
  mask-size: cover;
}

.postToggle:checked ~ .sticky-contact-Btn {
  background: rgba(0, 128, 0, 0.9);
  transform: scale(0.85);
}
.postToggle:checked ~ .sticky-contact-Btn:after {
  content: "";
  height: 2rem;
  width: 2rem;
  align-self: center;
  background-color: #fff;
  -webkit-mask-image: url(./../img/cross.svg);
  -webkit-mask-size: cover;
  mask-image: url(./../img/cross.svg);
  mask-size: cover;
}
.postToggle:checked ~ .sticky-contact-list .sticky-contact-list__item {
  opacity: 1;
}
.postToggle:checked ~ .sticky-contact-list .landline {
  transform: translate(-165%, -120%);
}
.postToggle:checked ~ .sticky-contact-list .landline:hover {
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
}
.postToggle:checked ~ .sticky-contact-list .mobile {
  transform: translate(-255%, 5%);
}
.postToggle:checked ~ .sticky-contact-list .mobile:hover {
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
}
.postToggle:checked ~ .sticky-contact-list .mail {
  transform: translate(-165%, 130%);
}
.postToggle:checked ~ .sticky-contact-list .mail:hover {
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
}

img {
  width: 100%;
}

.carousel {
  margin-top: 9rem;
  width: 100%;
  height: 65rem;
  background-color: grey;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 15rem;
  padding: 0.5rem;
}

.carousel * {
  margin: 0;
  padding: 0;
}

.carousel-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.heading-wrapper {
  display: flex;
  height: 20%;
  width: 80%;
  position: absolute;
  overflow: hidden;
  top: 2rem;
  left: 10rem;
  z-index: 2;
}

.carousel-slide {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transform: translate(100%, 0);
  opacity: 0;
}

.heading-slide {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transform: translate(100%, 0);
  opacity: 1;
}

.heading-slide--text {
  background-color: #4BB3FD;
  color: #faf9f9;
  padding: 1rem 5rem;
  text-align: center;
  line-height: 1;
  border-radius: 5px;
  font-size: 5rem;
  text-transform: uppercase;
}

input[name=carousel-css] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  margin: 0;
  background-color: rgb(250, 250, 250);
  width: 5rem;
  height: 0.4rem;
  cursor: pointer;
  border-radius: 10%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  margin: 0.25rem;
}

input[name=carousel-css]:checked {
  display: inline-flex;
}

input[name=carousel-css]:checked::before {
  content: "";
  background-color: rgba(75, 179, 253, 0.7);
  border-radius: none;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}

/* Hide unnecessary radio buttons */
input[name=carousel-css][value=slide-5]:checked ~ .carousel-wrapper .carousel-slide:nth-child(5),
input[name=carousel-css][value=slide-5]:checked ~ .carousel-wrapper .carousel-slide:nth-child(4),
input[name=carousel-css][value=slide-4]:checked ~ .carousel-wrapper .carousel-slide:nth-child(3),
input[name=carousel-css][value=slide-3]:checked ~ .carousel-wrapper .carousel-slide:nth-child(2),
input[name=carousel-css][value=slide-2]:checked ~ .carousel-wrapper .carousel-slide:nth-child(1),
input[name=carousel-css][value=slide-1]:checked ~ .carousel-wrapper .carousel-slide:last-of-type {
  display: flex;
  opacity: 1;
  transform: translate(-100%, 0);
  transition: 0.5s transform, 0.1s z-index 0.4s;
}

input[name=carousel-css][value=slide-5]:checked ~ .heading-wrapper .heading-slide:nth-child(5),
input[name=carousel-css][value=slide-5]:checked ~ .heading-wrapper .heading-slide:nth-child(4),
input[name=carousel-css][value=slide-4]:checked ~ .heading-wrapper .heading-slide:nth-child(3),
input[name=carousel-css][value=slide-3]:checked ~ .heading-wrapper .heading-slide:nth-child(2),
input[name=carousel-css][value=slide-2]:checked ~ .heading-wrapper .heading-slide:nth-child(1),
input[name=carousel-css][value=slide-1]:checked ~ .heading-wrapper .heading-slide:last-of-type {
  display: flex;
  opacity: 1;
  transform: translate(-100%, 0);
  transition: 0.5s transform, 0.1s z-index 0.4s;
}

input[name=carousel-css][value=slide-1]:checked ~ .carousel-wrapper .carousel-slide:nth-child(2),
input[name=carousel-css][value=slide-2]:checked ~ .carousel-wrapper .carousel-slide:nth-child(3),
input[name=carousel-css][value=slide-3]:checked ~ .carousel-wrapper .carousel-slide:nth-child(4),
input[name=carousel-css][value=slide-4]:checked ~ .carousel-wrapper .carousel-slide:nth-child(5),
input[name=carousel-css]:last-of-type:checked ~ .carousel-wrapper .carousel-slide:nth-child(1) {
  display: flex;
  opacity: 1;
  transform: translate(100%, 0);
  transition: 0.5s transform, 0.1s z-index 0.4s;
}

input[name=carousel-css][value=slide-1]:checked ~ .heading-wrapper .heading-slide:nth-child(2),
input[name=carousel-css][value=slide-2]:checked ~ .heading-wrapper .heading-slide:nth-child(3),
input[name=carousel-css][value=slide-3]:checked ~ .heading-wrapper .heading-slide:nth-child(4),
input[name=carousel-css][value=slide-4]:checked ~ .heading-wrapper .heading-slide:nth-child(5),
input[name=carousel-css]:last-of-type:checked ~ .heading-wrapper .heading-slide:nth-child(1) {
  display: flex;
  opacity: 0;
  transform: translate(-100%, 0);
  transition: 0.5s transform, 0.1s z-index 0.4s;
}

/* Actions from the radio buttons */
input[name=carousel-css][value=slide-1]:checked ~ .carousel-wrapper .carousel-slide:nth-child(1),
input[name=carousel-css][value=slide-2]:checked ~ .carousel-wrapper .carousel-slide:nth-child(2),
input[name=carousel-css][value=slide-3]:checked ~ .carousel-wrapper .carousel-slide:nth-child(3),
input[name=carousel-css][value=slide-4]:checked ~ .carousel-wrapper .carousel-slide:nth-child(4),
input[name=carousel-css][value=slide-5]:checked ~ .carousel-wrapper .carousel-slide:nth-child(5) {
  display: flex;
  transition: 0.5s transform;
  transform: translate(0, 0);
  opacity: 1;
  z-index: 2;
}

input[name=carousel-css][value=slide-1]:checked ~ .heading-wrapper .heading-slide:nth-child(1),
input[name=carousel-css][value=slide-2]:checked ~ .heading-wrapper .heading-slide:nth-child(2),
input[name=carousel-css][value=slide-3]:checked ~ .heading-wrapper .heading-slide:nth-child(3),
input[name=carousel-css][value=slide-4]:checked ~ .heading-wrapper .heading-slide:nth-child(4),
input[name=carousel-css][value=slide-5]:checked ~ .heading-wrapper .heading-slide:nth-child(5) {
  display: flex;
  transition: 0.8s transform;
  transform: translate(0, 0);
  opacity: 1;
  z-index: 2;
}

/* Next and prev buttons */
.carousel label[data-value|=slide] {
  width: 0;
  height: 0;
}

.carousel label[data-value|=slide]::before,
.carousel label[data-value|=slide]::after {
  content: "";
  display: none;
  position: absolute;
  z-index: 3;
  width: 5rem;
  height: 5rem;
  background-color: rgba(100, 198, 243, 0.7);
  border-radius: 0.5rem;
  opacity: 1;
  cursor: pointer;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Im02NDAtODAtNDAwLTQwMCA0MDAtNDAwIDU2IDU3LTM0MyAzNDMgMzQzIDM0M3oiIGZpbGw9IiNmZmYiLz4KPC9zdmc+Cg==");
}

.carousel label[data-value|=slide]::after {
  transform: rotate(180deg);
}

.carousel label[data-value|=slide]::before:hover,
.carousel label[data-value|=slide]::before:after {
  background-color: rgba(10, 10, 10, 0.8);
}

input[name=carousel-css][value=slide-1]:checked ~ label[data-value|=slide]:last-of-type::before,
input[name=carousel-css][value=slide-2]:checked ~ label[data-value=slide-1]::before,
input[name=carousel-css][value=slide-3]:checked ~ label[data-value=slide-2]::before,
input[name=carousel-css][value=slide-4]:checked ~ label[data-value=slide-3]::before,
input[name=carousel-css][value=slide-5]:checked ~ label[data-value=slide-4]::before {
  display: inline-block;
  left: 3rem;
}

input[name=carousel-css][value|=slide]:last-of-type:checked ~ label[data-value=slide-1]::after,
input[name=carousel-css][value=slide-1]:checked ~ label[data-value=slide-2]::after,
input[name=carousel-css][value=slide-2]:checked ~ label[data-value=slide-3]::after,
input[name=carousel-css][value=slide-3]:checked ~ label[data-value=slide-4]::after,
input[name=carousel-css][value=slide-4]:checked ~ label[data-value=slide-5]::after {
  display: inline-block;
  right: 3rem;
}

/* Special functions for the carousel */
.carousel-no-bullets input[name=carousel-css][value|=slide] {
  display: none;
}

.carousel-non-selectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* About - Hero */
.about {
  height: 75rem;
  width: 90%;
  margin-top: 12rem;
  padding: 1rem;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 56.25em) {
  .about {
    height: 55rem;
  }
}
.about h1 {
  font-size: 6rem;
  font-weight: 700;
  text-shadow: -1px -1px 0px rgba(240, 238, 238, 0.7), 3px 3px 0px rgba(250, 249, 249, 0.7), 6px 6px 0px rgba(0, 0, 0, 0.3333333333);
  text-transform: uppercase;
}
.about .grid {
  grid-template-columns: 2fr 1fr;
  gap: 20rem;
}
.about-text {
  position: relative;
  top: 1rem;
  height: 60%;
  z-index: 100;
  animation: slideInFromLeft 1s ease-in;
}
.about-kontakt {
  max-width: 60rem;
  z-index: 50;
  animation: slideInFromRight 1s ease-in;
}
.about-kontakt__button {
  background-color: rgba(27, 124, 194, 0.7);
  width: 80%;
  height: 4rem;
  margin: 1rem 0;
  border-radius: 0.8rem;
  padding: 0 2rem;
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: buttonRing 1s ease-in-out;
  animation-delay: 2s;
}
.about-kontakt__button a {
  color: #fff;
}
.about-kontakt-phone__icon, .about-kontakt-home__icon {
  height: 2rem;
  width: 2rem;
  padding-right: 1rem;
  fill: #fff;
  animation: buttonRing 1s ease-in-out;
  animation-delay: 2s;
}

.welcome {
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: whitesmoke;
}
.welcome_heading {
  font-style: oblique;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.4em;
  text-transform: uppercase;
  color: rgba(27, 124, 194, 0.7);
}

.vorstellung {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 10rem 0;
  z-index: 50;
}
.vorstellung_logo {
  max-width: 50rem;
  height: auto;
  align-self: center;
}
.vorstellung-text {
  max-width: 55rem;
  margin-left: 4rem;
}
.vorstellung-bild {
  max-width: 45rem;
  animation: slideInFromRight 1s ease-in;
  border-radius: 0.5rem;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  max-width: 45rem;
  margin: 1rem;
  flex: 1;
}
.vorstellung-bild img {
  height: 45rem;
  width: 45rem;
}

.ags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin: 15rem 0;
  z-index: 50;
}
.ags-text {
  max-width: 55rem;
  padding-top: 6rem;
}
.ags-text__item {
  flex: 0 0 80%;
  line-height: 2em;
  margin-bottom: 0.7rem;
  text-indent: 1rem;
  list-style-position: outside;
}
.ags-text__item::before {
  content: "";
  display: inline-flex;
  height: 1.9rem;
  width: 1.9rem;
  margin-right: 0.9rem;
  list-style-position: outside;
  background-color: #4BB3FD;
  -webkit-mask-image: url(../img/checkmark.svg);
  -webkit-mask-size: cover;
  mask-image: url(../img/checkmark.svg);
  mask-size: cover;
}
.ags-bild {
  max-width: 45rem;
  animation: slideInFromLeft 1s ease-in;
  border-radius: 0.5rem;
  padding: 1rem;
  max-width: auto;
  margin: 1rem;
  flex: 1;
  margin-left: 3rem;
}

.cnc__maschine {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 55rem;
  flex: 1;
}
.cnc__maschine__bild {
  width: 35%;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
  border-radius: 1px;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 1rem;
}
.cnc__maschine__bild--p1 {
  left: 3rem;
  top: 4rem;
}
.cnc__maschine__bild--p2 {
  right: 3rem;
  top: 24rem;
}
.cnc__maschine__bild--p3 {
  left: 30%;
  top: 20rem;
  width: 40%;
}
.cnc__maschine__bild:hover {
  outline: 0.5rem solid #4BB3FD;
  transform: scale(1.15) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.cnc__maschine:hover .cnc__maschine__bild:not(:hover) {
  transform: scale(0.95);
}

.industrie-slider {
  margin-top: 10rem;
}

/* Unternehmen */
.unternehmen {
  padding-top: 15rem;
}
.unternehmen .flex {
  flex-wrap: wrap;
}
.unternehmen .card {
  height: 12rem;
  width: 12rem;
  text-align: center;
  margin: 1.2rem 0.5rem 0.5rem;
  transition: transform 0.2s ease-in;
}
.unternehmen .card h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.unternehmen .card:hover {
  transform: translateY(-15px);
}

/* Kunden */
.kunden .flex {
  flex-wrap: wrap;
}
.kunden .card {
  height: 6rem;
  width: 12rem;
  text-align: center;
  margin: 1.2rem 1rem 1rem;
  transition: transform 0.2s ease-in;
}
.kunden .card h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.kunden .card:hover {
  transform: translateY(-1.5rem);
}

.catPages {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #f8f8f8;
}
.catPages__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 118rem;
  flex-direction: column;
}
.catPages__heading {
  padding: 2rem 2rem;
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.catPages__boxes {
  display: flex;
  flex-wrap: wrap;
  max-width: 118rem;
  gap: 10rem;
  justify-content: center;
  /* background-color: yellowgreen; */
  padding: 5rem 1rem;
}

.catEntwicklung,
.catMaterialien,
.catFertigung,
.catProdukte {
  flex-direction: column;
  width: 44rem;
  height: 30rem;
  padding: 2rem;
  background-color: rgba(75, 179, 253, 0.9);
  border: 0.2rem;
  border-color: rgba(75, 179, 253, 0.9);
  border-style: solid;
}
.catEntwicklung_icon,
.catMaterialien_icon,
.catFertigung_icon,
.catProdukte_icon {
  display: flex;
  height: 8rem;
  fill: aliceblue;
}
.catEntwicklung_link,
.catMaterialien_link,
.catFertigung_link,
.catProdukte_link {
  text-decoration: none; /* Entfernt die Standard-Unterstreichung des Links */
}
.catEntwicklung_heading,
.catMaterialien_heading,
.catFertigung_heading,
.catProdukte_heading {
  font-size: 3rem;
  color: whitesmoke;
  align-items: start;
}
.catEntwicklung_description,
.catMaterialien_description,
.catFertigung_description,
.catProdukte_description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: white;
  /* background-color: orangered; */
}
.catEntwicklung_description-link,
.catMaterialien_description-link,
.catFertigung_description-link,
.catProdukte_description-link {
  display: flex;
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: #fff;
}
.catEntwicklung_description-link:hover,
.catMaterialien_description-link:hover,
.catFertigung_description-link:hover,
.catProdukte_description-link:hover {
  color: rgba(250, 249, 249, 0.7);
  background-color: rgba(75, 179, 253, 0.7);
  transition: all 0.2s;
}
.catEntwicklung:hover, .catEntwicklung:hover .catEntwicklung_icon, .catEntwicklung:hover .catEntwicklung_heading,
.catMaterialien:hover,
.catEntwicklung:hover .catMaterialien_icon,
.catEntwicklung:hover .catMaterialien_heading,
.catFertigung:hover,
.catEntwicklung:hover .catFertigung_icon,
.catEntwicklung:hover .catFertigung_heading,
.catProdukte:hover,
.catEntwicklung:hover .catProdukte_icon,
.catEntwicklung:hover .catProdukte_heading,
.catMaterialien:hover .catEntwicklung_icon,
.catMaterialien:hover .catEntwicklung_heading,
.catMaterialien:hover .catMaterialien_icon,
.catMaterialien:hover .catMaterialien_heading,
.catMaterialien:hover .catFertigung_icon,
.catMaterialien:hover .catFertigung_heading,
.catMaterialien:hover .catProdukte_icon,
.catMaterialien:hover .catProdukte_heading,
.catFertigung:hover .catEntwicklung_icon,
.catFertigung:hover .catEntwicklung_heading,
.catFertigung:hover .catMaterialien_icon,
.catFertigung:hover .catMaterialien_heading,
.catFertigung:hover .catFertigung_icon,
.catFertigung:hover .catFertigung_heading,
.catFertigung:hover .catProdukte_icon,
.catFertigung:hover .catProdukte_heading,
.catProdukte:hover .catEntwicklung_icon,
.catProdukte:hover .catEntwicklung_heading,
.catProdukte:hover .catMaterialien_icon,
.catProdukte:hover .catMaterialien_heading,
.catProdukte:hover .catFertigung_icon,
.catProdukte:hover .catFertigung_heading,
.catProdukte:hover .catProdukte_icon,
.catProdukte:hover .catProdukte_heading {
  fill: rgba(27, 124, 194, 0.7);
  color: rgba(27, 124, 194, 0.7);
  transition: all 0.2s;
}
.catEntwicklung:hover, .catEntwicklung:hover .catEntwicklung_description, .catEntwicklung:hover .catEntwicklung_description a,
.catMaterialien:hover,
.catEntwicklung:hover .catMaterialien_description,
.catEntwicklung:hover .catMaterialien_description a,
.catFertigung:hover,
.catEntwicklung:hover .catFertigung_description,
.catEntwicklung:hover .catFertigung_description a,
.catProdukte:hover,
.catEntwicklung:hover .catProdukte_description,
.catEntwicklung:hover .catProdukte_description a,
.catMaterialien:hover .catEntwicklung_description,
.catMaterialien:hover .catEntwicklung_description a,
.catMaterialien:hover .catMaterialien_description,
.catMaterialien:hover .catMaterialien_description a,
.catMaterialien:hover .catFertigung_description,
.catMaterialien:hover .catFertigung_description a,
.catMaterialien:hover .catProdukte_description,
.catMaterialien:hover .catProdukte_description a,
.catFertigung:hover .catEntwicklung_description,
.catFertigung:hover .catEntwicklung_description a,
.catFertigung:hover .catMaterialien_description,
.catFertigung:hover .catMaterialien_description a,
.catFertigung:hover .catFertigung_description,
.catFertigung:hover .catFertigung_description a,
.catFertigung:hover .catProdukte_description,
.catFertigung:hover .catProdukte_description a,
.catProdukte:hover .catEntwicklung_description,
.catProdukte:hover .catEntwicklung_description a,
.catProdukte:hover .catMaterialien_description,
.catProdukte:hover .catMaterialien_description a,
.catProdukte:hover .catFertigung_description,
.catProdukte:hover .catFertigung_description a,
.catProdukte:hover .catProdukte_description,
.catProdukte:hover .catProdukte_description a {
  color: rgba(51, 51, 51, 0.8);
  transition: all 0.2s;
}
.catEntwicklung:hover,
.catMaterialien:hover,
.catFertigung:hover,
.catProdukte:hover {
  transition: all 0.2s;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.kontaktForm {
  display: flex;
  justify-content: space-around;
  margin: 10rem 0;
}
.kontaktForm__container {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  flex-direction: column;
  justify-content: space-around;
  width: 120rem;
}
.kontaktForm__heading {
  display: flex;
  flex: 1;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.kontaktForm__anfahrt-map {
  height: 40rem;
  width: 100%;
  height: 40rem;
}
.kontaktForm__anfahrt-beschreibung {
  background-color: goldenrod;
  margin: 2rem 0;
  width: 45%;
  flex: 1;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.industrie-slider {
  background: white;
  height: 20rem;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.industrie-slider::before, .industrie-slider::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 20rem;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.industrie-slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.industrie-slider::before {
  left: 0;
  top: 0;
}
.industrie-slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}
.industrie-slider .slide {
  height: 12rem;
  width: 250px;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.industrie-slider .slide img {
  width: auto;
  max-height: 10rem;
  height: 100%;
}

.anfahrt {
  display: flex;
  align-items: baseline;
  align-content: center;
}

@media (max-width: 768px) {
  .grid,
  .about .grid,
  .vorstellung,
  address .grid {
    grid-template-columns: 1fr;
  }
  .footer {
    height: -moz-fit-content;
    height: fit-content;
  }
  .footer .flex {
    flex-direction: column;
  }
  .footer address {
    gap: 1rem;
  }
  .about {
    background-size: cover;
  }
  .about-text {
    text-align: center;
  }
  .about-kontakt--input {
    justify-self: center;
    margin: auto;
  }
}
@media (max-width: 500px) {
  .top-logo-style {
    align-items: center;
  }
  .top-logo-style img {
    width: 100%;
    height: 10rem;
  }
  .acc-wraper {
    display: none;
  }
}
.fertigung {
  display: flex;
  justify-content: center;
  width: 97%;
  height: 100%;
  margin-top: 12rem;
  padding: 1rem;
}

.headbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 95%;
}
.headbox__item {
  background-color: #faf9f9;
  border-radius: 1rem;
  min-width: 10rem;
  text-align: center;
  padding: 0.5rem 1rem;
  margin: 1rem;
  line-height: 1;
}

/* colors */
/* tab setting */
/* breakpoints */
/* selectors relative to radio inputs */
.tabs {
  margin-top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  background: white;
  padding: 2rem;
  padding-bottom: 20px;
  margin-bottom: 3rem;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  min-width: 360px;
}
.tabs input[name=tab-control] {
  display: none;
}
.tabs .content section h2,
.tabs ul li label {
  font-weight: bold;
  font-size: 1.8rem;
  color: #428BFF;
}
.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.tabs ul li {
  box-sizing: border-box;
  flex: 1;
  width: 16.6666666667%;
  padding: 0 10px;
  text-align: center;
}
.tabs ul li label {
  transition: all 0.3s ease-in-out;
  color: #929daf;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: wrap;
  -webkit-touch-callout: none;
  /*
  br {
    display: none;
  }   */
}
.tabs ul li label svg {
  fill: #929daf;
  height: 3.2em;
  vertical-align: bottom;
  margin-right: 0.2em;
  transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
  outline: 0;
  color: #bec5cf;
}
.tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
  fill: #bec5cf;
}
.tabs .slider {
  position: relative;
  width: 16.6666666667%;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
  position: relative;
  width: 50px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #428BFF;
  border-radius: 1px;
}
.tabs .content {
  margin-top: 30px;
}
.tabs .content section {
  display: none;
  animation-name: content;
  animation-direction: normal;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  line-height: 1.4;
}
.tabs .content section h2 {
  color: #428BFF;
  display: none;
}
.tabs .content section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 30px;
  height: 3px;
  background: #428BFF;
  margin-top: 5px;
  left: 1px;
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
  cursor: default;
  color: #428BFF;
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
  fill: #428BFF;
}
@media (max-width: 900px) {
  .tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ .slider {
  transform: translateX(0%);
}
.tabs input[name=tab-control]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
  display: block;
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
  cursor: default;
  color: #428BFF;
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
  fill: #428BFF;
}
@media (max-width: 900px) {
  .tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}
.tabs input[name=tab-control]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
  display: block;
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
  cursor: default;
  color: #428BFF;
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg {
  fill: #428BFF;
}
@media (max-width: 900px) {
  .tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ .slider {
  transform: translateX(200%);
}
.tabs input[name=tab-control]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
  display: block;
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
  cursor: default;
  color: #428BFF;
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label svg {
  fill: #428BFF;
}
@media (max-width: 900px) {
  .tabs input[name=tab-control]:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ .slider {
  transform: translateX(300%);
}
.tabs input[name=tab-control]:nth-of-type(4):checked ~ .content > section:nth-child(4) {
  display: block;
}
.tabs input[name=tab-control]:nth-of-type(5):checked ~ ul > li:nth-child(5) > label {
  cursor: default;
  color: #428BFF;
}
.tabs input[name=tab-control]:nth-of-type(5):checked ~ ul > li:nth-child(5) > label svg {
  fill: #428BFF;
}
@media (max-width: 900px) {
  .tabs input[name=tab-control]:nth-of-type(5):checked ~ ul > li:nth-child(5) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=tab-control]:nth-of-type(5):checked ~ .slider {
  transform: translateX(400%);
}
.tabs input[name=tab-control]:nth-of-type(5):checked ~ .content > section:nth-child(5) {
  display: block;
}
.tabs input[name=tab-control]:nth-of-type(6):checked ~ ul > li:nth-child(6) > label {
  cursor: default;
  color: #428BFF;
}
.tabs input[name=tab-control]:nth-of-type(6):checked ~ ul > li:nth-child(6) > label svg {
  fill: #428BFF;
}
@media (max-width: 900px) {
  .tabs input[name=tab-control]:nth-of-type(6):checked ~ ul > li:nth-child(6) > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name=tab-control]:nth-of-type(6):checked ~ .slider {
  transform: translateX(500%);
}
.tabs input[name=tab-control]:nth-of-type(6):checked ~ .content > section:nth-child(6) {
  display: block;
}
@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media (max-width: 1500px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  .tabs ul li label svg {
    height: 3.2em;
    padding-bottom: 2rem;
  }
}
@media (max-width: 900px) {
  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs ul li label span {
    display: none;
  }
  .tabs .slider {
    display: none;
  }
  .tabs .content {
    margin-top: 20px;
  }
  .tabs .content section h2 {
    display: block;
  }
}

.acc-wraper {
  margin: 1rem 0.5rem;
  max-width: 100%;
}

.accordion {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
  height: 20rem;
}

.accordion > div {
  width: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  transition: all 0.5s ease;
  border: 2px solid #faf9f9;
  border-radius: 10px;
  position: relative;
}

.accordion > div:hover {
  flex-shrink: 0;
}

.accordion div img {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.art-fertigung,
.art-fertigung-ebenezwei {
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid #777;
  display: flex;
  flex-wrap: wrap;
}
.art-fertigung__item,
.art-fertigung-ebenezwei__item {
  flex: 0 0 80%;
  margin-bottom: 0.7rem;
  text-indent: 1rem;
  list-style-position: outside;
}
.art-fertigung-detail__item,
.art-fertigung-ebenezwei-detail__item {
  flex: 0 0 80%;
  margin-left: 3rem;
  margin-bottom: 1.5rem;
}
.art-fertigung__item::before,
.art-fertigung-ebenezwei__item::before {
  content: "";
  display: inline-flex;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.7rem;
  list-style-position: outside;
  background-color: #4BB3FD;
  -webkit-mask-image: url(./../img/chevron-right.svg);
  -webkit-mask-size: cover;
  mask-image: url(./../img/chevron-right.svg);
  mask-size: cover;
}
.art-fertigung-detail__item::before,
.art-fertigung-ebenezwei-detail__item::before {
  content: "";
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  margin-right: 0.7rem;
  background-color: #4BB3FD;
  -webkit-mask-image: url(./../img/chevron-right.svg);
  -webkit-mask-size: cover;
  mask-image: url(./../img/chevron-right.svg);
  mask-size: cover;
}

.video_file {
  display: flex;
  justify-content: center;
  width: 97%;
  height: 100%;
  margin-top: 20rem;
  padding: 1rem;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.2);
}
.video_file__content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery {
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  display: grid;
  grid-auto-flow: dense;
  gap: 1rem;
  overflow: hidden;
  margin-bottom: 5rem;
}
.gallery-item__img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery-item_four-grid-cells {
  grid-row: span 2/auto;
  grid-column: span 2/auto;
}
.gallery-item_wide-image {
  grid-column: span 2/auto;
}

.start-container {
  display: flex;
  margin-top: 9rem;
  width: 100%;
  height: 65rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 15rem;
  padding: 0.5rem;
}
.start-container__bild {
  min-height: 60rem;
  width: auto;
}
.start-container__text {
  position: absolute;
  top: 15rem;
  left: 10vw;
  background-color: #4BB3FD;
  color: #faf9f9;
  padding: 1rem 5rem;
  text-align: left;
  line-height: 1;
  border-radius: 5px;
  font-size: 3rem;
  text-transform: uppercase;
}

.content_layout {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  margin-bottom: 10rem;
}

.div1 {
  grid-area: 1/1/1/2;
}

.div2 {
  grid-area: 1/2/1/3;
}

.div3 {
  grid-area: 2/1/2/3;
}

.div4 {
  grid-area: 3/1/3/2;
}

.div5 {
  grid-area: 3/2/3/3;
}

.div6 {
  grid-area: 4/1/4/2;
}

.div7 {
  grid-area: 4/2/4/3;
}

.qualitaet {
  grid-area: 5/1/5/3;
}

.div9 {
  grid-area: 6/1/6/2;
}

.div10 {
  grid-area: 6/2/6/3;
}

.introduction_entwicklung-text {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.leichtbau__heading,
.qualitaet__heading {
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  background-image: linear-gradient(to right, #005088, rgba(27, 124, 194, 0.9176470588));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}

.landing-slider {
  overflow: hidden;
  max-width: 100%;
  position: relative;
}

.landing-slider .landing-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slider-fade 28.75s infinite;
}

.landing-slider .landing-slide:nth-child(1) {
  background-image: url(./../img/IMG_110201_1920.jpg);
  animation-delay: 0s;
}

.landing-slider .landing-slide:nth-child(2) {
  background-image: url(./../img/IMG_121845773_1920.jpg);
  animation-delay: -5.75s;
}

.landing-slider .landing-slide:nth-child(3) {
  background-image: url(./../img/IMG_074602_1920.jpg);
  animation-delay: -11.5s;
}

.landing-slider .landing-slide:nth-child(4) {
  background-image: url(./../img/IMG_061052705_1920.jpg);
  animation-delay: -17.25s;
}

.landing-slider .landing-slide:nth-child(5) {
  background-image: url(./../img/IMG_091141345_1920.jpg);
  animation-delay: -23s;
}

.landing-slide--heading {
  display: flex;
  top: 1rem;
  height: 60%;
  z-index: 100;
  animation: slideInFromLeft 1s ease-in;
}

#aspect-content {
  margin: 50px 0 0;
  font-family: "Poppins", sans-serif;
}
#aspect-content * {
  box-sizing: border-box;
}

.aspect-tab {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 10px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgb(236, 236, 236);
  opacity: 1;
  transition: box-shadow 0.2s, opacity 0.4s;
}
.aspect-tab:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.11);
}

.aspect-input {
  display: none;
}

.aspect-input:checked ~ .aspect-content + .aspect-tab-content {
  max-height: 3000px;
}

.aspect-input:checked ~ .aspect-content:after {
  transform: rotate(0);
}

.aspect-label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 80px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
  z-index: 1;
  cursor: pointer;
}

.aspect-content {
  position: relative;
  display: block;
  height: 80px;
  margin: 0;
  padding: 0 87px 0 30px;
  font-size: 0;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.aspect-content:before, .aspect-content:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.aspect-content:before {
  height: 100%;
}
.aspect-content:after {
  position: absolute;
  width: 24px;
  height: 100%;
  right: 30px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTI0IDI0SDBWMGgyNHoiIG9wYWNpdHk9Ii44NyIvPgogICAgICAgIDxwYXRoIGZpbGw9IiNBOUFDQUYiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE1Ljg4IDE1LjI5TDEyIDExLjQxbC0zLjg4IDMuODhhLjk5Ni45OTYgMCAxIDEtMS40MS0xLjQxbDQuNTktNC41OWEuOTk2Ljk5NiAwIDAgMSAxLjQxIDBsNC41OSA0LjU5Yy4zOS4zOS4zOSAxLjAyIDAgMS40MS0uMzkuMzgtMS4wMy4zOS0xLjQyIDB6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}

.aspect-name {
  display: inline-block;
  width: 75%;
  margin-left: 16px;
  font-weight: 500;
  color: #242a32;
  white-space: normal;
  text-align: left;
  vertical-align: middle;
}

.aspect-name {
  font-size: 14px;
  line-height: 22px;
}

.aspect-content + .aspect-tab-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}

.aspect-content > div {
  display: inline-block;
}

.aspect-content > div {
  vertical-align: middle;
}

.aspect-info {
  width: 80%;
  white-space: nowrap;
  font-size: 0;
}
.aspect-info:before {
  content: "";
  display: inline-block;
  height: 44px;
  vertical-align: middle;
}

.aspect-tab-content {
  background-color: #f9f9f9;
  font-size: 0;
  text-align: justify;
}

.sentiment-wrapper {
  padding: 24px 30px 30px;
}

.sentiment-wrapper > div {
  display: inline-block;
  width: 100%;
  max-width: 350px;
  padding: 0 5px;
  box-sizing: border-box;
  vertical-align: top;
  cursor: default;
}

.sentiment-wrapper > div > div {
  width: 100%;
  padding: 16px 24px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ececec;
  text-align: left;
}

.opinion-header {
  position: relative;
  width: 100%;
  margin: 0 0 24px;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  color: #242a32;
  text-transform: capitalize;
}

.opinion-header > span:nth-child(2) {
  position: absolute;
  right: 0;
}

.opinion-header + div > span {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  color: #363636;
}

@media screen and (max-width: 800px) {
  .aspect-label {
    max-height: 102px;
  }
  .aspect-content {
    height: auto;
    padding: 10px 87px 10px 30px;
  }
  .aspect-content:before {
    display: none;
  }
  .aspect-content:after {
    top: 0;
  }
  .aspect-content > div {
    display: block;
    width: 100%;
  }
  .aspect-stat {
    margin-top: 10px;
    text-align: left;
  }
}
@media screen and (max-width: 750px) {
  .sentiment-wrapper > div {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  .sentiment-wrapper > div:not(:first-child) {
    margin-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  .aspect-label {
    max-height: 140px;
  }
  .aspect-stat > div {
    display: block;
    width: 100%;
  }
  .all-opinions {
    margin-bottom: 10px;
  }
  .all-opinions + div > span:first-child {
    margin: 0;
  }
}
.introduction_materialien-text {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.titan,
.dreidteile,
.luftraum {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  margin: 5rem 0;
  z-index: 50;
}
.titan__heading-secondary,
.dreidteile__heading-secondary,
.luftraum__heading-secondary {
  margin-top: 10rem;
  padding-top: 10rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  background-image: linear-gradient(to right, #005088, rgba(27, 124, 194, 0.9176470588));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
.titan-text,
.dreidteile-text,
.luftraum-text {
  max-width: 55rem;
  margin-left: 1rem;
  margin-top: 1rem;
}
.titan-bild,
.dreidteile-bild,
.luftraum-bild {
  max-width: 55rem;
  border-radius: 0.5rem;
  padding-left: 4rem;
  margin: 1rem;
  flex: 1;
}
.titan-bild img,
.dreidteile-bild img,
.luftraum-bild img {
  max-width: 55rem;
  height: auto;
}

.hssteile,
.rollieren,
.schiffbohr,
.hochschweiß {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 5rem 0;
  z-index: 50;
}
.hssteile__heading-secondary,
.rollieren__heading-secondary,
.schiffbohr__heading-secondary,
.hochschweiß__heading-secondary {
  margin-top: 10rem;
  padding-top: 10rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  background-image: linear-gradient(to right, #005088, rgba(27, 124, 194, 0.9176470588));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
.hssteile-text,
.rollieren-text,
.schiffbohr-text,
.hochschweiß-text {
  max-width: 50rem;
  margin-left: 5rem;
  margin-top: 1rem;
}
.hssteile-bild,
.rollieren-bild,
.schiffbohr-bild,
.hochschweiß-bild {
  max-width: 55rem;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  flex: 1;
}
.hssteile-bild img,
.rollieren-bild img,
.schiffbohr-bild img,
.hochschweiß-bild img {
  height: auto;
  max-width: 55rem;
}

#luftraum,
#schiffbohr {
  margin-top: 6rem;
}

.impressum {
  margin: 15rem 0;
}

.datenschutz {
  margin: 15rem 0;
}/*# sourceMappingURL=main.css.map */