
.navigation {
    max-width: 100%;
    background: white;

    &__checkbox {
        display: none;
    }
}

.header {
    max-width: 100%;
    height: 9.4rem;
    background-color: $color-white;
    box-shadow: 0px 2px 10px 1px rgba($color-grey-dark2, 0.8);
       
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    
    margin: 0 auto;
}

.navbar {
    //background: white;
    pointer-events:none;
    

    &-container {
       display: flex;
       
       
       padding-top: .8rem;
       
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
      // z-index: 200;
       max-width: 120rem;
       margin: 0 auto;
       

    

    //    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.125);
   /*      & .shade {
            @include white-gradient-down;
            background-color: orangered;
            flex: 1 1 100%;
            min-height: 20rem;
            //position: fixed;
            max-width: 100rem;
            z-index: 112;

            @include respond(tab-port) {
                display: none;
            }
        } */	
    }
    

    // & .flex {
    //     justify-content: space-between; /*Sorgt dafür das Logo links und Navigation rechts ist*/
    //     align-items: center;
        
    //     flex-wrap: wrap;
    //     background-color: $color-white; 

    //     @include respond(tab-port) {
    //         background-color: transparent;
    //     }
    // }

    // & .navigation__list {
    //     display: flex;
    //     z-index: 200;
        
    //     background-color: $color-white;
        
    //     & .navigation__item {
    //         background-color: $color-primary-dark;
    //         border-radius: .5rem;
    //         margin: 1rem 0;
    //         padding: 1.5rem 1rem;
    //         box-shadow: 0 3px 1rem rgba($color-black, .2);
    //         z-index: 200;
    //         flex-basis: 100%;
            

    //         &:hover {
    //             transition: transform 0.2s ease-in-out;
    //             transform: scale(1.1);
               
    //         }

    //         &:not(:last-child) {
    //             margin-right: 2rem;
    //         }
          
    //     }
      

    //     & a {
    //         color: $color-white;
    //         padding: 5rem 0;
    //         margin: 0 1rem;  
    //     }
    // }   
}



.navigation {
    display: flex;    
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
    padding-top: .8rem;
    background-color: $color-white;

    @include respond(tab-port) {
        background-color: transparent;
    }

    &__nav {
        display: flex;
        align-content: space-around;
        justify-content: space-around;

        @include respond(tab-port) {
            display: none;
        }  

        @include respond(phone) {
            display: none;
        }
    }

    &__list {
        display: flex;
        padding: 1rem 1rem;
        justify-content: space-around;
        z-index: 200;

        @include respond(tab-port) {
            display: none;
        }  

        @include respond(phone) {
            display: none;
        }
    }

    &__kontakt {
        width: 10rem;
        height: 5rem;
        
        background-color: $color-primary;
        color: $color-white;
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        
        pointer-events: auto;

        @include respond(tab-port) {
            display: none;
        }  

        @include respond(phone) {
            display: none;
        }

        
    }

    &__item {
        align-items: center;
        align-self: center; 
        justify-content: space-around;
        margin-right: 2rem;
        padding: 1rem 1rem;
        z-index: 200;
        pointer-events: auto;

        &:hover,
        &:active {
            transition: transform 0.2s ease-in-out;
            border-bottom: 2px $color-primary-dark solid;

            @include respond(tab-port) {
                border-bottom: none;
            }  

            @include respond(phone) {
                border-bottom: none;
            }
        }
    }

    &__link {
        padding: 1rem 1rem;

        &-active {
            border-bottom: 2px $color-primary-dark solid;
            font-weight: 600;
            transition: all 0.1s;
            color: $color-primary-dark;
            padding: 1rem 1rem;

            @include respond(tab-port) {
                border-bottom: none;
                display: none;
            }  

            @include respond(phone) {
                border-bottom: none;
            }
        }
    }
}





.top-logo-style {
    background-color: $color-white;
    border-radius: .5rem;
    //box-shadow: 0 3px 1rem rgba($color-black, .2);
    //padding: .5rem 1rem;
    margin: 0 1rem;
    z-index: 9000;

    & img {
        width: 100%;
        height: 7.5rem;
        pointer-events: auto;
    }
    
}

// active state after js script

/* .navbar .active {
    
    // background-color: $color-success;
    height: 8rem;
    //padding: 1rem .5rem;

    @include respond(tab-port) {
        background: none;
        pointer-events:none;
      }  
    
    @include respond(phone) {
        background: none;
        pointer-events:none;
      }  
    

    & .shade {
        @include white-gradient-down;
    }
    
    & img  {
        width: 100%;
        height: 7.5rem;
        pointer-events: auto;
    }
} */


    @include respond(tab-port) {
    
        .navigation {
            text-align: center;

            &__checkbox {
                display: none;
            }
        
            &__button {
                background-color: $color-primary;
                height: 6rem;
                width: 6rem;
                position: fixed;
                top: 1.5rem;
                right: 2rem;
                border-radius: .8rem;
                z-index: 2000;
                box-shadow: 0 1rem 3rem rgba($color-black, .1);
                text-align: center;
                cursor: pointer;
                pointer-events: auto;
            }
        
            &__background {
                height: 5rem;
                width: 5rem;
                border-radius: .8rem;
                position: fixed;
                top: 1.75rem;
                right: 2.5rem;
                background-image: radial-gradient($color-primary-light, $color-primary-dark);
                z-index: 1000;
                transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
        
            }
        
            &__nav {
                height: 100vh;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 1500;
                visibility: hidden;
                opacity: 0;
                width: 0;
                transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                display: flex;

                
            }
        
            &__list {
                display: block;
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%,-50%);
                list-style: none;
                text-align: center;
                width: 100%;
                pointer-events: auto;
            }
        
            &__item {
                margin: 3rem 8rem;
                background-color: $color-primary;
                /* visibility: hidden; */
            }

        
            &__link {
                &:link,
                &:visited {
                    display: inline-block;
                    font-size: 2.5rem;
                    
                    font-weight: 300;
                    padding: 1rem 2rem;
                    color: $color-white;
                    text-decoration: none;
                    text-transform: uppercase;
                    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
                    background-size: 220%;
                    transition: all .4s;

           
                    span {
                        margin-right: 1.5rem;
                        display: inline-block;
                    }
                }
                
                &:hover,
                &:active {
                    background-position: 100%;
                    color: $color-primary;
                    transform: translateX(1rem);
                }
            }
        
        
            //FUNCTIONALITY
            &__checkbox:checked ~ &__background {
                transform: scale(80);
            }
        
            &__checkbox:checked ~ &__nav {
                opacity: 1;
                width: 100%;
                visibility: visible;
            }

           /*  &__checkbox:checked ~ &__item {
                visibility: hidden;
            } */
        
        
            //ICON
            &__icon {
                position: relative;
                margin-top: 3rem;
        
                &,
                &::before,
                &::after {
                    width: 3.5rem;
                    height: 2px;
                    background-color: $color-grey-light-2;
                    display: inline-block;
                }
        
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    transition: all .2s;
                }
        
                &::before { top: -1rem; }
                &::after { top: 1rem; }
            }
        
            &__button:hover &__icon::before {
                top: -1rem;
            }
        
            &__button:hover &__icon::after {
                top: 1rem;
            }
        
            &__checkbox:checked + &__button &__icon {
                background-color: transparent;
            }
        
            &__checkbox:checked + &__button &__icon::before {
                top: 0;
                transform: rotate(135deg);
            }
        
            &__checkbox:checked + &__button &__icon::after {
                top: 0;
                transform: rotate(-135deg);
            }
        }

        

    
      }
    
  /* 
      @include respond(phone) {
        display: none;

      }
 */














//ALTES NAVI MENU
// Ohne Hamburger Button

// .navbar {

//     &-container {
//        display: flex;
//        color: $color-white;
//        height: 14rem;
//        padding: 2rem 2rem;
       
//        position: fixed;
//        top: 0;
//        left: 0;
//        right: 0;
//        z-index: 200;
//        max-width: 122rem;
//        margin: 0 auto;

//     //    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.125);
//         & .shade {
//             @include white-gradient-down;
//             flex: 1 1 100%;
//             height: 10rem;
//             // position: fixed;
//             width: 100%;
//             z-index: 112;
//         }
	
//     }
    

//     & .flex {
//         justify-content: space-between; /*Sorgt dafür das Logo links und Navigation rechts ist*/
//         align-items: center;
        
//         flex-wrap: wrap;
//         background-color: $color-white; 
//     }

//     & ul {
//         display: flex;
//         z-index: 200;
        
//         background-color: $color-white;
        
//         & li {
//             background-color: $color-primary-dark;
//             border-radius: .5rem;
//             margin: 1rem 0;
//             padding: 1.5rem 1rem;
//             box-shadow: 0 3px 1rem rgba($color-black, .2);
//             z-index: 200;
//             flex-basis: 100%;
            

//             &:hover {
//                 transition: transform 0.2s ease-in-out;
//                 transform: scale(1.1);
               
//             }

//             &:not(:last-child) {
//                 margin-right: 2rem;
//             }
          
//         }
      

//         & a {
//             color: $color-white;
//             padding: 5rem 0;
//             margin: 0 1rem;  
//         }
//     }   
// }
 


// .top-logo-style {
//     background-color: $color-primary-dark;
//     border-radius: .5rem;
//     box-shadow: 0 3px 1rem rgba($color-black, .2);
//     padding: 1rem 1.5rem;
//     margin: 0 1rem;
    
//     & img {
//         width: 100%;
//         height: 13rem;
//     }
// }

// // active state after js script

// .navbar .active {
    
//     // background-color: $color-success;
//     height: 10.6rem;
//     padding: 1rem .5rem;
    

//     & .shade {
//         @include white-gradient-down;
//     }
    
//     & img  {
//         width: 100%;
//         height: 8rem;
//     }
// }
 
