
  .sticky-contact {
    position: fixed;
    display: flex;
    right: 3rem;
    top: 50%;
    z-index: 200;
    align-content: center;

    animation: slideInFromRight 1.5s ease-in;
    
    
    border-radius: 20%;
    // box-shadow: 0 3px 1rem rgba($color-black, .2);
    

 
  @include respond(big-desktop) {
    right: 18rem;
  }
  
  @include respond(tab-port) {
    right: 3rem;
  }  

  @include respond(phone) {
    right: 3rem;
    top: 80%;
  }  
    
    &-Btn {
      
      display: flex;
      justify-content: center;
      background: $color-success;
      background-color: $color-success;
      width: 8rem;
      height: 8rem;  

      color: white;
      border: none;
      border-radius: 50%;

       
      z-index: 1;
      border-radius:20%;
      
      
      cursor: pointer;
      transition: all 0.35s ease-in;
      box-shadow: 0 0 0 0 rgba($color-success, .5);  
      animation: pulse 10.5s infinite;
      
      
      &:hover {
        animation: none;
      }
    
      
      &:after {
        content:'';
        // width: 100%;

        height: 3.5rem;
        width: 3.5rem;
        align-self: center;
        

        background-color: $color-grey-light-1;
        -webkit-mask-image: url(img/phone.svg);
        -webkit-mask-size: cover;
        mask-image: url(img/phone.svg);
        mask-size: cover;

        
        

        // position: absolute;
        // text-align: center;
        // line-height: 40px;
        // font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
        // color: #575757;
        // font-weight: 100;
        // font-size: 1.8em;
      }
    }
    .postToggle {
      display: none;
    }
    
    .sticky-contact-list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      position: relative;
    }
    .sticky-contact-list__item {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      

      overflow: hidden;
      text-indent: 10px;
      text-align: center;
      height: 7rem;
      width: 7rem; 
      
      background: $color-primary-dark;
      border-radius: 20%;
      opacity: 0;
      border: 1px solid white;
      transition: transform 0.3s cubic-bezier(0.48, 0.13, 0.42, 1.45), opacity 0.2s ease-in;
      
      &:nth-child(2) {
        transition-delay: 0.025s;
      }
      &:nth-child(3) {
        transition-delay: 0.05s;
      }
      &:nth-child(4) {
        transition-delay: 0.075s;
      }
      &:nth-child(5) {
        transition-delay: 0.1s;
      }
  
      a {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }

      
    }
  
    .landline::before {
      content: "";
      height: 5rem;
      width: 5rem;
           
  
      background-color: $color-grey-light-1;
      -webkit-mask-image: url(img/deskphone_100.svg);
      -webkit-mask-size: cover;
      mask-image: url(img/deskphone_100.svg);
      mask-size: cover;
      
    }
   
    .mobile::before {
      content: '';
      height: 5rem;
      width: 5rem;
           
  
      background-color: $color-grey-light-1;
      -webkit-mask-image: url(img/phone_mob_100.svg);
      -webkit-mask-size: cover;
      mask-image: url(img/phone_mob_100.svg);
      mask-size: cover;
    }

    .mail::before {
      content: '';
      height: 5rem;
      width: 5rem;
           
  
      background-color: $color-grey-light-1;
      -webkit-mask-image: url(img/mail_100.svg);
      -webkit-mask-size: cover;
      mask-image: url(img/mail_100.svg);
      mask-size: cover;
      
    }
  
  }
  
  .postToggle:checked {
    ~ .sticky-contact-Btn {
      background: $color-primary;
      transform: scale(0.85);
      
      &:after {
        content:'';
        height: 2rem;
        width: 2rem;
        align-self: center;
        

        background-color: $color-grey-light-2;
        -webkit-mask-image: url(img/cross.svg);
        -webkit-mask-size: cover;
        mask-image: url(img/cross.svg);
        mask-size: cover;
        
      }
    }
    ~ .sticky-contact-list {
      .sticky-contact-list__item {
        opacity: 1;
      }
  
      .landline {
        transform: translate(-165%, -120%);
    
        &:hover {
          box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1)
        } 
      }
      .mobile {
        transform: translate(-255%, 5%);
    
        &:hover {
          box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1)
        } 
      }
      .mail {
        transform: translate(-165%, 130%);
  
        &:hover {
          box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1)
        }  
      }
      
    }
  }