
.kontaktForm {
    display: flex;
    justify-content: space-around; 
    
    margin: 10rem 0;
    

    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
        flex-direction: column;
        justify-content: space-around;
        
        width: 120rem;       
    }


    &__heading {
        display: flex;
        
        flex: 1;
        width: 100%;

        margin-top: 5rem;
        margin-bottom: 3rem;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
    }

        

    &__anfahrt-map {
        position: relative;
        display: flex;
        height: 40rem;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 100;
            
        &-background-blur {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(./../img/gmaps_placeholder_AGS-engineering.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            filter: blur(5px); /* Blur-Effekt hinzufügen */
            z-index: 1;
        }

        &-text {
            position: relative;
            background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
            color: white;
            font-weight: bold;
            border: 3px solid #f1f1f1;
            z-index: 2;
            width: 80%;
            padding: 20px;
            text-align: center;
        }
    }

    &__anfahrt-beschreibung {
        
        display: flex;
        margin: 2rem 0;
        width: 45%;
        flex: 1;
        background-color: aqua;
        
    }

    &__formular {
        background-color:blanchedalmond;
        
        width: 60rem;
        margin: 0 auto;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        

        /* .form-group {
            position: relative;
            margin-bottom: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        
        .form-group input,
        .form-group textarea,
        .form-group select {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
        }
        
        .form-group label {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 16px;
            color: #999;
            transition: all 0.3s ease;
            pointer-events: none;
        }
        
        .form-group input:focus + label,
        .form-group input:not(:placeholder-shown) + label,
        .form-group textarea:focus + label,
        .form-group textarea:not(:placeholder-shown) + label,
        .form-group select:focus + label,
        .form-group select:not([value=""]) + label {
            top: -20px;
            left: 10px;
            font-size: 12px;
            color: #333;
        }
        
        input[type="submit"],
        input[type="reset"] {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 10px;
        }
        
        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
        }
        
        input[type="reset"] {
            background-color: #f44336;
            color: white;
        } */
        
        
    }

}


/* Block: form */
.form {
    width: 100%;
}

/* Element: form__heading */
.form__heading {
    text-align: center;
}

/* Block: form-group */
.form-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Element: form-group__input, form-group__textarea, form-group__select */
/*  !!!!!!! Hier sind die Placeholder Labels !!!!!!! */
.form-group__input,
.form-group__textarea
 {
    width: 100%;
    padding: 10px;
    
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    color: $color-grey-dark1;
    
    
}

.form-group__select {
    width: 100%;
    padding: 10px;
    font-size: 1.6rem;    
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
        
}

/* Fade-In Animation */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Element: form-group__label */
.form-group__label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: blue;
    transition: all .4s ease;
    pointer-events: none;
    animation: fadeInUp .4s ease forwards;
    z-index: -2;
}


/* Modifier: form-group__input--focus, form-group__textarea--focus, form-group__select--focus */
.form-group__input:focus + .form-group__label,
.form-group__input:not(:placeholder-shown) + .form-group__label,
.form-group__textarea:focus + .form-group__label,
.form-group__textarea:not(:placeholder-shown) + .form-group__label,
.form-group__select:focus + .form-group__label,
.form-group__select:not([value=""]) + .form-group__label {
    top: -2.5rem;
    left: 10px;
    font-size: 12px;
    color: orangered;
    z-index: 1;
    
}

.form-group__error {
    display: none;
    color: red;
    position: absolute;
    right: 0;
    top: 100%; /* Direkt unterhalb des Eingabefeldes */
    margin-top: 5px; /* Abstand nach oben */
    opacity: 0;
    transition: opacity 2s ease; /* Dauer auf 2 Sekunden verlängert */
}

.form-group__error.visible {
    display: block;
    opacity: 1;
}

.form-group__input.error {
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid red; /* Rote Unterstreichung bei Fehler */
}

.form-group__input.error::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width 2s ease, left 2s ease; /* Dauer auf 2 Sekunden verlängert */
}

.form-group__input.error.animated::before {
    width: 100%;
    left: 0;
}

.form-group__input:focus::placeholder,
.form-group__textarea:focus::placeholder {
    opacity: 0;
    transform: translateY(-2rem);
    animation: fadeInUp 2s ease forwards;
}

/* Platzhalter-Animation */
/* .form-group__input::placeholder,
.form-group__textarea::placeholder {
    color: $color-white;
    
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    
} */





/* Block: button */
.button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

/* Modifier: button--submit */
.button--submit {
    background-color: #4CAF50;
    color: white;
}

/* Modifier: button--reset */
.button--reset {
    background-color: #f44336;
    color: white;
}