
.kontaktForm {
    display: flex;
    
    
    justify-content: space-around; 
      
    margin: 10rem 0;


    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem;
        width: 120rem;       
    }


    &__heading {
        display: flex;
        
        flex: 1;
        min-width: 100%;

        margin-top: 8rem;
        margin-bottom: 3rem;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
    }

        

    &__anfahrt-map {
        position: relative;
        display: flex;
        
        height: 40rem;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 100;
            
        &-background-blur {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(./../img/gmaps_placeholder_AGS-engineering.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            filter: blur(5px); /* Blur-Effekt hinzufügen */
            z-index: 1;
        }

        &-text {
            position: relative;
            background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
            color: white;
            font-weight: bold;
            border: 3px solid #f1f1f1;
            z-index: 2;
            width: 80%;
            padding: 20px;
            text-align: center;
        }
    }

    &__anfahrt-beschreibung {
        
        display: flex;
        padding: 1rem 2rem ;
        
        flex: 1;
        /* background-color: aqua; */

        &_adresse {
            padding: 1rem 3rem 1rem ;
        }
        
    }

    &__formular-beschreibung {
        
        display: flex;
        flex-direction: column;
        width: 52rem;
        padding: 1rem 2rem;

        /* background-color: yellowgreen; */
        
    }

    &__formular {
        /* background-color:blanchedalmond; */
        
        width: 50rem;
        
        padding: 2rem;
        display: flex;
        flex-direction: column;
        
        
    }

}


/* Block: form */
.form {
    width: 100%;
    max-width: 100%;
    padding-top: 2rem,;
}

/* Element: form__heading */
.form__heading {
    text-align: center;
}

/* Block: form-group */
.form-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Element: form-group__input, form-group__textarea, form-group__select */
.form-group__input,
.form-group__textarea,
.form-group__select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    color: #333;
    max-width: 100%;
    background-color: $color-grey-light-5;
}

/* Focused input fields */
.form-group__input:focus,
.form-group__textarea:focus,
.form-group__select:focus {
    border: 1px solid #1E90FF; /* Blauer Rahmen */
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.5); /* Leichter blauer Schatten */
    outline: none; /* Entfernt den Standard-Umriss */
}

/* Fade-In Animation */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Element: form-group__label */
.form-group__label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: blue;
    transition: all .6s ease;
    pointer-events: none;
    animation: fadeInUp .6s ease forwards;
    z-index: -1;
}

/* Modifier: form-group__input--focus, form-group__textarea--focus, form-group__select--focus */
.form-group__input:focus + .form-group__label,
.form-group__input:not(:placeholder-shown) + .form-group__label,
.form-group__textarea:focus + .form-group__label,
.form-group__textarea:not(:placeholder-shown) + .form-group__label,
.form-group__select:focus + .form-group__label,
.form-group__select:not([value=""]) + .form-group__label {
    top: -2.5rem;
    left: 10px;
    font-size: 12px;
    color: $color-primary-dark;
    z-index: 1;
}

/* Fehleranzeige */
.form-group__error {
    display: block; /* Immer anzeigen, aber mit 0 Höhe und Opazität starten */
    color: red;
    font-size: 1.2rem;
    font-weight: 300;
    position: relative; /* Position relativ setzen, damit es den Fluss des Dokuments beeinflusst */
    margin-top: 5px;
    opacity: 0;
    max-height: 0;
    transition: max-height 1s ease, opacity 2s ease;
}

.form-group__error.visible {
    max-height: 20px; /* Setze eine angemessene Höhe */
    padding-left: 1rem;
    opacity: 1;
}
.form-group__input.error {
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid red;
}

/* Fehlerhafter Input */
.form-group__input.error {
    position: relative;
}

/* Roter Balken bei Fehler */
.form-group__input.error::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0; /* Start von der linken Seite */
    width: 0; /* Anfangsbreite 0 */
    height: 2px;
    background-color: red;
    transition: width 1s ease; /* Animation der Breite */
}

/* Animierter roter Balken */
.form-group__input.error.animated::before {
    width: 100%; /* Animation auf volle Breite */
}
.form-group__input:focus::placeholder,
.form-group__textarea:focus::placeholder {
    opacity: 0;
    transform: translateY(-2rem);
    animation: fadeInUp 2s ease forwards;
}

/* Platzhalter-Animation */
/* .form-group__input::placeholder,
.form-group__textarea::placeholder {
    color: $color-white;
    
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    
} */





/* Block: button */
.button {
    width: 20rem;
    padding: 10px;
    margin-right: 10rem;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

/* Modifier: button--submit */
.button--submit {
    background-color: $color-primary;
    color: white;
}

/* Modifier: button--reset */
.button--reset {
    background-color: #f44336;
    color: white;
}