.fertigung {
    display: flex;
    justify-content: center;
    
    
    width: 97%;
    height: 100%;
    margin-top: 12rem;
    padding: 1rem;
    // box-shadow: 0 3px 1rem rgba($color-black, .2);

}

.headbox {
  display: flex;
  align-items: center;


  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 95%;
  

  &__item {
    background-color: $color-grey-light-1;
    border-radius: 1rem;
    min-width: 10rem;
    text-align: center;
    padding: .5rem 1rem;
    margin: 1rem;
    line-height: 1;
  }
}


/* colors */
$blue: #428BFF;
$red: #FF4A53;
$dark: #333;

$accent: $blue;
$accent-inactive: desaturate($accent, 85%);
$secondary: $accent-inactive;


/* tab setting */
$tab-count: 6;
$indicator-width: 50px;
$indicator-height: 4px;

/* breakpoints */
$breakpoints: (
  medium: #{$tab-count*250px},
  small: #{$tab-count*150px}
);


/* selectors relative to radio inputs */
$label-selector: "~ ul > li";
$slider-selector: "~ .slider";
$content-selector: "~ .content > section";

@mixin tabs(
  $label-selector: $label-selector,
  $slider-selector: $slider-selector,
  $content-selector: $content-selector) {
    
  @for $i from 1 through $tab-count {
    &:nth-of-type(#{$i}):checked {
      #{$label-selector}:nth-child(#{$i}) {
        @content;
      }

      #{$slider-selector} {
        transform: translateX(#{100% * ($i - 1)});
      }

      #{$content-selector}:nth-child(#{$i}) {
        display: block;
      }
    }
  }
}



.tabs {
  margin-top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  background: white;
  padding: 2rem;
  padding-bottom: 20px;
  margin-bottom: 3rem;
  width: 100%;
  height: auto;
  //box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 1rem;
  min-width: #{$tab-count * 60px};
  input[name="tab-control"] {
    display: none;
  }
  
  .content section h2,
  ul li label {
    //font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.8rem;
    color: $accent;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    
    li {
      box-sizing: border-box;
      flex: 1;
      width: calc(100%/$tab-count);
      padding: 0 10px;
      text-align: center;
      
      label {
        transition: all 0.3s ease-in-out;
        color: $secondary;
        padding: 5px auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        white-space: wrap;
        -webkit-touch-callout: none;
        //@include user-select(none);
        
        br {
          display: none;
        }
        
        svg {
          fill: $secondary;
          height: 1.2em;
          vertical-align: bottom;
          margin-right: 0.2em;
          transition: all 0.2s ease-in-out;
          
        }
        
        &:hover,
        &:focus,
        &:active {
          outline: 0;
          color: lighten($secondary, 15%);
          svg {
            fill: lighten($secondary, 15%);
          }
        }
      }
    }
  }
  
  .slider {
    position: relative;
    width: calc(100%/$tab-count);
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    .indicator {
      position: relative;
      width: $indicator-width;
      max-width: 100%;
      margin: 0 auto;
      height: $indicator-height;
      background: $accent;
      border-radius: 1px;     
    }

  }
  
  .content {
    margin-top: 30px;
    
    section {
      display: none;
      animation: {
        name: content;
        direction: normal;
        duration: 0.3s;
        timing-function: ease-in-out;
        iteration-count: 1;
      }
      line-height: 1.4;
      
      h2 {
        color: $accent;
        display: none;
        &::after {
          content: "";
          position: relative;
          display: block;
          width: 30px;
          height: 3px;
          background: $accent;
          margin-top: 5px;
          left: 1px;
        }
      }
    }
  }
  
  input[name="tab-control"] {
    @include tabs {
      > label {
        cursor: default;
        color: $accent;
        
        svg {
          fill: $accent;
        }
        
        @media (max-width: map-get($breakpoints, small)) {
          background: rgba(0, 0, 0, 0.08);
        }
      }
    }
  }

  @keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  @media (max-width: map-get($breakpoints, medium)) {
    ul li label {
      white-space: initial;
      
      br {
        display: initial;
      }
      
      svg {
        height: 1.5em;
      }
    }
  }
  
  @media (max-width: map-get($breakpoints, small)) {
    ul li label {
      padding: 5px;
      border-radius: 5px;
      
      span {
        display: none;
      }
    }
    
    .slider {
      display: none;
    }
    
    .content {
      margin-top: 20px; 
      section h2 {
        display: block;
      }
    }
  }
}


// Picture Accordion

.acc-wraper{
  margin: 1rem .5rem;
  max-width:100%;
  
}

.accordion {
  display:flex;
  flex-wrap:nowrap;
  overflow:hidden;
  width: 100%;
  height: 20rem;
}

.accordion > div{
  width:50%;
  flex-grow:1;
  flex-shrink:1;
  overflow:hidden;
  transition:all .5s ease;
  border: 2px solid $color-grey-light-1;
  border-radius:10px;
  position:relative
}

.accordion > div:hover{
  flex-shrink:0;
}

.accordion div img{
  width:100%;
  height:20rem;
  object-fit: cover;
}

/// Auflistung Fertigungsmethoden
/// Kleine Karten







// Listen

.art-fertigung,
.art-fertigung-ebenezwei {
 
 
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid $color-grey-dark2;
  

  display: flex;
  flex-wrap: wrap;
     

  &__item {
    flex: 0 0 80%;
    margin-bottom: .7rem;
    text-indent: 1rem;
    list-style-position: outside;
  }

  &-detail__item {
    flex: 0 0 80%;
    margin-left: 3rem;
    margin-bottom: 1.5rem;
    
  }

  &__item::before {
    content: "";
    display: inline-flex;
    
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .7rem;
    list-style-position: outside;
    

    background-color: $color-primary;
    -webkit-mask-image: url(./../img/chevron-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(./../img/chevron-right.svg);
    mask-size: cover;
  }

  &-detail__item::before {
    content: "";
    display: inline-flex;
    height: 2rem;
    width: 2rem;
    margin-right: .7rem;

    background-color: $color-primary;
    -webkit-mask-image: url(./../img/chevron-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(./../img/chevron-right.svg);
    mask-size: cover;
  }

}